/* =================================
    Theme: Digital Creative Agency
    Author: Shahriar Hosen <https://github.com/cseshahriar>
===================================*/

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1299px) {
	
	/* naigation */
	.site-nav-wrapper {
		padding: 0 20px;
	}
}

/* Medium  devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
	
	/* naigation */
	.site-nav-wrapper {
		padding: 0 20px;
	}
	
	/* Generic css */
	.verticle-heading h2{
		font-size: 29px;
	}
	
	/* services tabs */
	#services-tabs .tab-bg {
		padding: 16px 30px;
		min-height: 395px;
	} 
	.service-tab p {
		line-height: 20px;
	}
}

/* Small  devices (Portrait Tablets and Small desktops) */
@media (min-width: 768px) and (max-width: 991px) {}

/*  Extra Small  devices (Landscape Phone and Portrait Tablets) */
@media (max-width: 767px) {}