/* =================================
    Default Theme
    --------------------------------
    Fonts Raleway and Open Sans
    --------------------------------
    Colors: 
        Moon Yellow: #f4c613
        Gray : #212226  
        White Smoke: #f4f4f4
        White: #fff
        Blach: #000

===================================*/

/*  googe font uses 
    font-family: 'Raleway', sans-serif;
    font-family: 'Open Sans', sans-serif; 
*/
